<html>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
<head>
  <title>Election Scraper</title>
</head>
<body>

 {{{body}}}

   <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- custom scripts -->
  <script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>